<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOxQ9dJACmi3A6GltumxD8Lig2Y1pjXOk</string>
	<key>GCM_SENDER_ID</key>
	<string>1025905209444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>shopatoz-9eb71</string>
	<key>STORAGE_BUCKET</key>
	<string>shopatoz-9eb71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025905209444:ios:373cb3f8cc636e87f6af71</string>
</dict>
</plist>